.messenger {
    min-height: 0;
    display: grid;
    grid-template-columns: 320px 1fr;
    background: var(--color-surface-muted);
    flex: 1;

    &__sidebar {
        padding: 24px 16px;
        border-right: 1px solid var(--color-border-muted);
        background: var(--color-surface);
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0 0 16px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
    }

    &__chat {
        display: flex;
        flex-direction: column;
        padding: 24px 24px 5px;
    }

    &__sidebar-footer {
        margin-top: auto;
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__sidebar-footer .button {
        width: 100%;
    }

}
