.link {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-text-link);
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
